{
  "env": {
    "web": {
      "presets": [
        [
          "env", {
            "useBuiltIns": true,
            "debug": false,
            "targets": {
              "browsers": ["last 2 versions", "safari >= 7"]
            }
          }
        ],
        "stage-0",
        "react"
      ],
      "plugins": ["transform-class-properties", "transform-runtime"]
    },
    "server": {
      "presets": [
        ["env", {
          "useBuiltIns": true,
          "debug": false,
          "targets": {
            "node": 6.9
          }
        }],
      ],
    }
  }
}
