{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "env": {
    "browser": true,
  },
  "rules": {
    "no-console": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "react/no-multi-comp": 0,
    "arrow-parens": ["error", "always"]
  },
  "plugins": [
    "flowtype",
    "react"
  ]
}
