* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.map {
  height: 100vh;
  width: 100vw;
}

.overlay {
  z-index: 314159;
  display: none;
  position: absolute;
  top: 10%;
  right: 10%;
  height: 30%;
  width: 15%;
  background-color: #fff;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

.show {
  display: flex;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.show, .actions {
  padding: 10px;
}
