* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

input, textarea {
  margin: 0;
  outline: none;
}

.nav {
  display: flex;
  align-items: center;
  height: 56px;
  background: #4285f4;
  box-sizing: border-box;
  top: 0;
  width: 100vw;
  color: #fff;
}

.nav-content {
  width: 100%;
  margin: 0 24px;
  display: flex;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 75%;
}

.nav-hover {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin: 0 10px;
}

.nav-hover:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.menu {
  height: 36px;
}

.search {
  width: 40%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.search-icon {
  margin: 0 20px;
}

.search-input {
  font-size: 15px;
  background: none;
  border: none;
  box-sizing: border-box;
  height: 100%;
  flex: 1;
  color: #fff;
}

.search-input::-webkit-input-placeholder {
  color: #fff;
}

.search:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.signin-container {
  margin-left: 0;
  position: relative;
  height: 100%;
}

.signin {
  text-decoration: none;
  color: #fff;
}

.signin a {
  text-decoration: none;
  color: #fff;
}

.button {
  height: 36px;
}

.buttons {
  margin-top: 10px;
  display: flex;
}

.input {
  margin: 10px;
  padding: 10px;
  border-radius: 2px;
  height: 50px;
  border: none;
  background-image: none;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: none;
  width: 90%;
  color: #fff;
  font-size: 16px;
}

.input:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.input::-webkit-input-placeholder {
  color: #eee;
}

.error {
  color: tomato;
  font-size: 11px;
}

.points-menu-container {
  position: absolute;
  background: #4285f4;
  top: 46px;
  right: -2px;
  z-index: 401;
  width: 300px;
  height: 230px;
}

.signin-menu-container {
  position: absolute;
  background: #4285f4;
  top: 46px;
  right: 9px;
  z-index: 401;
  width: 300px;
  height: 230px;
}

.signin-menu {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hamburger {
  cursor: pointer;
}

.brand {
  font-size: 20px;
  margin: 0 24px;
}

.map {
  height: calc(100vh - 56px);
  width: 100vw;
}

.points-container {
  margin-right: 0;
}

.points {
  color: #fff;
  background-color: limegreen;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 12px;
}

.fa-search {
  margin: 0 10px;
}