{
  "presets": [
    ["env", {
      "modules": false,
      "useBuiltIns": true,
      "debug": true,
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }]
  ],
  "plugins": ["external-helpers"]
}
