{
  "presets": [
    "react",
    ["env", {
      "modules": false,
      "useBuiltIns": true,
      "debug": false,
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }]
  ],
  "plugins": ["external-helpers", "transform-class-properties"]
}
